.field-wrapper {
    margin-bottom: 15px;
}
.field-wrapper .field-container input, .field-container textarea {
    width: 100%;
    padding: 10px 18px;
    margin: 5px 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 2px #E5E5E5;
    color: #121213;
    font-size: 20px;
}   
footer h6 {
    color: #121212;
    text-transform: capitalize;
    font-weight: 700 !important;
}
footer ul li a {
    transition: 0.1s;
}

footer ul li a:hover {
    color: #ecca63;
}
