@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./custom.css);

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
h1 {
  @apply lg:text-5xl text-3xl font-bold;
}
h2 {
  @apply lg:text-5xl text-3xl;
}

p {
  @apply text-[18px];
  @apply leading-7;
  @apply text-[#164A8C];
  @apply font-medium;
}
